body {
  display: grid;
  grid-template-rows: 60px auto 60px;
  grid-row-gap: 4px;
  background-color: papayawhip;
  height: 100vh;
  padding: 0 30px 0 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: purple;
}

.Row2 {
  display: flex;
  justify-content: space-between;
  background: pink;
  align-items: center;
}

.Row2 > img {
  width: 170px;
  height: 190px;
}

.Row2 > .Row2-List {
  align-self: top;
  margin-top: 0;
}

.Row3 {
  display: flex;
  background: red;
  align-content: center;
}

.Row4 {
  background: chartreuse;
}

.Row4 > p {
  display: inline-block;
  background: cyan;
}

.Row5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4px;
  background: coral;
}

.Row5 img {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 400px;
}

.Row6 {
  background: green;
}

footer {
  background: white;
}
